.claro .dijitMenuBar {
	border-top: none;
	border-left: none;
	border-right: none;
}

.row>div {
	background-color: rgb(252, 252, 252);
	min-height: 10px;
}

.selected-element {
	background-color: rgb(252, 248, 227) !important;
}

/* Make the columns for first/last name wider */
#person-grid.dgrid .field-id {
	width: 50px;
}

#person-grid.dgrid .field-name {
	width: auto;
}